body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #BAFF39
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    background-color: #fff; /* White background for the container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

h1 {
    color: #333;
}

#weather-info,
#forecast,
#map {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; /* White background for each section */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    color: #333; /* Dark text color */
}

